body {
    cursor: url() auto;
    background: url('../login_background.png') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }
.login-table {
    background: rgba(134,213,204,255);
    padding: 20px;
    border: groove;
    border-radius: 15px;
}

.col-form-label {
    font-weight: 600;
    letter-spacing: -2px;
    color:rgb(19, 83, 83);
}
.login-table input {
    background: #5fa09c;
}
.bottom-menu {
    color: white;
    text-shadow: 2px 0 20px #8ecf26, -2px 0 0 #fff, 0 2px 3px #fff, 0 -2px 5px #fff, 1px 1px 5px #d6a8a8, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}